@media only screen and (max-width: 1200px) {
  .mainTable__menu ul li a {
    font-size: 1.1rem  !important; }
    .mainTable__menu ul li a i {
      font-size: 1.5rem; }
  __right--search--table--th input {
    margin: 0  !important; } }

@media only screen and (max-width: 992px) {
  .mainTable__menu ul li a {
    font-size: .7rem  !important; }
    .mainTable__menu ul li a i {
      font-size: 1rem !important; }
  .mainTable__right--table--th img {
    display: none  !important; } }

@media only screen and (max-width: 576px) {
  .mainTable__menu ul li a {
    font-size: 1.6rem  !important; }
    .mainTable__menu ul li a i {
      font-size: 2rem !important; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }

html {
  font-size: 10px; }

body {
  background-image: url("../image/alo.jpg");
  font-size: 1.6rem; }

.mainTable {
  padding: 2rem 0; }
  .mainTable__menu hr {
    margin: 2rem 0; }
  .mainTable__menu ul li {
    margin: 0.6rem 0;
    list-style: none;
    padding-left: 3rem; }
    .mainTable__menu ul li.active {
      background: #4b4b4b;
      border-radius: 4rem 0 0 4rem; }
    .mainTable__menu ul li a {
      text-transform: uppercase;
      text-decoration: none;
      color: #4b4b4b;
      font-weight: bold;
      font-size: 1.6rem;
      line-height: 5rem; }
      .mainTable__menu ul li a.active {
        color: #fff; }
      .mainTable__menu ul li a i {
        font-size: 2rem;
        padding-right: 1rem; }
  .mainTable__right {
    background: #fff; }
    .mainTable__right--search {
      margin-top: 2rem; }
      .mainTable__right--search input {
        height: 4rem;
        font-size: 1.7rem; }
    .mainTable__right--table {
      color: gray; }
      .mainTable__right--table th {
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 800; }
      .mainTable__right--table tr {
        height: 8rem; }
      .mainTable__right--table--th input {
        margin-top: 0;
        font-size: 1.7rem; }
    .mainTable__right--plus {
      max-width: 95%;
      margin: auto; }
